.container {
    display: flex;
    color: #E7E7EB;
  }
  
  /*--------------Left Side Begin-----------------*/

  .left {
    flex-basis: 33.33%;
    padding: 20px;
    background-color: #1E213A;
  }

  /*--------------Picture------------*/
  .row {
    margin-bottom: 10px;
  }
 /*--------------Font and align------------*/
  .row-content {
    font-family: 'Raleway';
    text-align: center;
  }

  /*--------------Temperature and celsius sign------------*/
  .box-row{
    display : flex;
    flex-direction: row;
    padding: 10px;

  }

  .left-row-temperature{
    
    flex-basis: 70%;
    font-weight: 300;
    font-size: 144px;
  }

  .left-row-sign{
    
    flex-basis: 30%;
    font-weight: 100;
    font-size: 48px;
    vertical-align: text-bottom;
    color:#A09FB1;
  }
  /*--------------Type of weather, date and Ubication------------*/
  .left-row{
    color:#88869D;
  }

  .left-row-type{
    font-weight: 600;
    font-size: 36px;
    color:#A09FB1;
  }

/*--------------Left Side End-----------------*/
  
/*--------------Rigth Side Begin-----------------*/
  .right {
    flex-basis: 66.67%;
    padding: 20px;
    background-color:#100E1D;
    ;
  }
  
  .temperature-icons {
    text-align: right;
  }
  
  .temperature-icons span {
    margin-left: 5px;
  }
  
  .weather-cards {
    display: flex;
    margin-top: 20px;
  }
  
  .card {
    flex-basis: 20%;
    padding: 10px;
    border: 1px solid #000;
  }
  
  .highlights {
    margin-top: 20px;
  }
  
  .highlights h2 {
    margin-bottom: 10px;
  }
  
  .highlight-row {
    display: flex;
    margin-bottom: 20px;
  }
  
  .highlight-card {
    flex-basis: 50%;
    padding: 10px;
    border: 1px solid #000;
  }
  
  