.container {
    display: flex;
    color: #E7E7EB;
  }

  .row {
    margin-bottom: 10px;
    font-family: 'Raleway';
    text-align: center;
  }

  /*--------------Left Side-----------------*/
  
  .left {
    flex-basis: 33.33%;
    padding: 20px;
    background-color: #1E213A;
    
  }

  .left-row-main{
    font-weight: 300;
    font-size: 144px;
  }

  #principal-temperature-sign{
    font-weight: 100;
    font-size: 48px;
    font-family: 'Raleway';
    color:#A09FB1;
  }

  .left-row-type{
    font-weight: 600;
    font-size: 36px;
    color:#A09FB1;
  }
  
   /*--------------Rigth Side-----------------*/
  .right {
    flex-basis: 66.67%;
    padding: 20px;
    background-color:#100E1D;
    ;
  }
  
  .temperature-icons {
    text-align: right;
  }
  
  .temperature-icons span {
    margin-left: 5px;
  }
  
  .weather-cards {
    display: flex;
    margin-top: 20px;
  }
  
  .card {
    flex-basis: 20%;
    padding: 10px;
    border: 1px solid #000;
  }
  
  .highlights {
    margin-top: 20px;
  }
  
  .highlights h2 {
    margin-bottom: 10px;
  }
  
  .highlight-row {
    display: flex;
    margin-bottom: 20px;
  }
  
  .highlight-card {
    flex-basis: 50%;
    padding: 10px;
    border: 1px solid #000;
  }
  
  